@keyframes squeeze {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.5);
    background-color: $header-background;
    font-size: 0.7rem;
  }

  50% {
    transform: scale(0.1);
    background-color: red;
    font-size: 0.2rem;
  }

  75% {
    transform: scale(0.5);
    background-color: $header-background;
    font-size: 0.7rem;
  }

  100% {
    transform: scale(1.3) rotate(360deg);
    background-color: black;
    font-size: 2rem;
  }
}

.btn {
  background-color: $header-background;
  border: 0.2rem solid gray;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;

  &:hover {
    background-color: black;
    color: $header-background;
    transition: 0.5s;
  }

  &--animate {
    &:active {
      animation: squeeze 3s linear forwards;
    }
  }
}
