.card {
  background-color: $header-background;
  border: 2px solid gray;
  border-radius: 2rem;
  padding: 1rem;

  &__img {
    margin: 1rem 1.5rem;
    width: 100%;
  }

  &__footer {
    display: flex;
    justify-content: space-evenly;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @media (min-width: $media-md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: $media-lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}
