.input {
  padding: 0.5rem;
  border: 1px solid gray;
  display: block;
  margin-bottom: 1rem;
  width: 100%;

  @media (min-width: $media-md) {
    width: 15rem;
  }

  &--rounded {
    border-radius: 0.5rem;
  }
}

.validation {
  &--success {
    color: white;
    background-color: green;
  }
}
