.instagram {
  width: 40rem;
  border: 0.5rem solid purple;
  padding: 1rem;
  background-color: black;
  color: $white;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__btn {
      background-image: url("https://cdn4.iconfinder.com/data/icons/alkhazami/32/expand-color-web-23-256.png");
      width: 3rem;
      height: 3rem;
      background-size: cover;
      background-color: black;
      border: none;
    }

    &__profile {
      width: 4rem;
      cursor: pointer;
      margin-left: 0.5rem;
    }
  }
}

.modal-instagram {
  &__header {
    display: flex;
    justify-content: space-between;
  }
}
