.chat {
  border: 1rem solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  height: 40rem;
  width: 50rem;

  &__screen {
    background-color: $gray;
    height: 33rem;
  }

  &__input {
    border: 0.5rem solid goldenrod;
    display: flex;
    justify-content: space-between;
    height: 6rem;

    &__btn {
      background-color: red;
      color: $gray;
      cursor: pointer;
      padding: 10px 20px;
      font-size: 1rem;

      &:hover {
        background-color: black;
        color: $white;
      }
    }
  }
}
