//colors
$black: #000;
$header-background: #ebebeb;
$green: #27ae60;
$green-light: #2ecc71;
$white: #fff;
$gray-light: #ecf0f1;
$gray: #ccc;
$gray-dark: #5c5c5c;
$red: #c0392b;
$yellow: #f39c12;
$blue: #0074ff;

//breakpoints
//https://www.w3shools.com/howto/howto_css_media_query_breakpoints.asp
$media-sm: 37.5em; //600px
$media-md: 48em; //768px
$media-lg: 62em; //992px
$media-xl: 75em; //1200px

//margin
$container-margin-tl: 1rem 0 0 2rem;
